@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,600&display=swap');

:root {
  --ff-base: 'Red Hat Text', sans-serif;
  --ff-mono: 'Chivo Mono', monospace;
  --container-max: 80ch;
  --container-breakout: 90ch;
  --container-padding: 2rem;

  --clr-blue-100: hsl(237, 18%, 59%);
  --clr-red-300: hsl(345, 95%, 68%);
  --clr-white-400: hsl(0, 0%, 100%);
  --clr-blue-700: hsl(236, 21%, 26%);
  --clr-blue-800: hsl(235, 16%, 14%);
  --clr-blue-900: hsl(234, 17%, 12%);
}

/******reset******/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-base);
  text-rendering: optimizeSpeed;
  background-image: url(images/bg-stars.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--clr-blue-900);
  min-height: 100vh;
  padding-block: 4rem;

  display: grid;
  align-content: space-between;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/******utility classes******/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.container {
  width: min(100% - var(--container-padding), var(--container-max));
  margin-inline: auto;
}

.content-grid {
  --container-breakout-width: calc((var(--container-breakout) - var(--container-max)) / 2);

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--container-padding), 1fr)
    [breakout-start] minmax(0, var(--container-breakout-width))
    [content-start] min(100% - (2 * var(--container-padding)), var(--container-max)) [content-end]
    minmax(0, var(--container-breakout-width)) [breakout-end]
    minmax(var(--container-padding), 1fr) [full-width-end];
}

.content-grid > * {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;
}

.text-center {
  text-align: center;
}

/******styling******/

.hero {
  z-index: 10;
}

.hero > * + * {
  margin-top: 4rem;
}

h1 {
  font-size: clamp(1rem, 4vw, 1.75rem);
  text-transform: uppercase;
  color: var(--clr-white-400);
}

.hills {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

.social {
  z-index: 10;
}

.social__links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.social__links svg {
  fill: #8385a9;
}

.social__links .icon:hover svg {
  fill: var(--clr-red-300);
}

.countdown {
  display: flex;
  justify-content: center;
  gap: 1rem;
  user-select: none;
}

.countdown__segment {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.countdown__segment p {
  font-size: clamp(0.5rem, 3vw, 1.5rem);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--clr-blue-100);
}

.digit {
  font-family: var(--ff-mono);
  color: var(--clr-red-300);
  background-color: var(--clr-blue-900);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 0 var(--clr-blue-900);

  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.digit::before,
.digit::after {
  --size: 15px;
  content: '';
  position: absolute;
  aspect-ratio: 1 / 1;
  width: var(--size);
  border-radius: 50%;
  background-color: var(--clr-blue-900);
  top: calc(50% - var(--size) / 2);
  z-index: 10;
}

.digit::before {
  left: calc(-1 * var(--size) / 2);
}

.digit::after {
  right: calc(-1 * var(--size) / 2);
}

.number {
  font-size: 5rem;
  padding-inline: 1rem;
  padding-block: 1.25rem;
  height: 0.75em;
  text-align: center;
  background-color: var(--clr-blue-700);
  overflow: hidden;
  line-height: 1;

  width: 100%;
  display: flex;
}

.number--top {
  filter: brightness(80%);
  align-items: flex-start;
}

.number--bottom {
  align-items: flex-end;
}

.flipper-top {
  filter: brightness(80%);
  position: absolute;
  height: 50%;
  z-index: 5;

  transform-origin: bottom;
  animation: 250ms flip-top ease-in forwards;
}

@keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}

.flipper-bottom {
  position: absolute;
  height: 50%;
  bottom: 0;
  z-index: 5;
  align-items: flex-end;

  transform: rotateX(-90deg);
  transform-origin: top;
  animation: 250ms flip-bottom 250ms ease-out forwards;
}

@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}

@media (width < 600px) {
  .number {
    font-size: 2.75rem;
    padding-inline: 1rem;
    padding-block: 1.35rem;
    height: 0.25em;
  }

  .hero > * + * {
    margin-top: 3rem;
  }

  .countdown__segment {
    gap: 0.5rem;
  }
}

@media (width < 400px) {
  .digit {
    border-radius: 5px;
  }

  .digit::before,
  .digit::after {
    --size: 5px;
  }

  .number {
    font-size: 2rem;
    padding-inline: 0.5rem;
    padding-block: 0.5rem;
    height: 0.75em;
  }

  .hero > * + * {
    margin-top: 2rem;
  }

  .countdown__segment {
    gap: 0.5rem;
  }
}
